services:
  postgis:
    image: ghcr.io/hoshina-dev/hoshina-pg:18-0.0.2
    # image: postgis/postgis:18-3.6
    container_name: postgis
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - postgis_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: unless-stopped
    command: ["postgres", "-c", "listen_addresses=*"]

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgis
    restart: unless-stopped

volumes:
  postgis_data: